/* CONTACT */

.contact-card {
    max-width: 500px;
    margin: 30px auto 0;
    padding: 30px 25px;

    background: rgba(17, 19, 26, 0.8);
    border: 1px solid #222;
    border-radius: 20px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 30px rgba(0, 229, 255, 0.08);
}

.contact-card p {
    color: #aaa;
    font-size: 16px;
    margin-bottom: 25px;
}


/* ACHIEVEMENTS */

.achievement-card {
    max-width: 600px;
    margin: 30px auto 0;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.achievement-item {
    padding: 20px;

    background: rgba(17, 19, 26, 0.8);
    border: 1px solid #222;
    border-radius: 15px;

    text-align: left;

    backdrop-filter: blur(10px);
}

.achievement-item h3 {
    color: #00e5ff;
    margin-bottom: 8px;
}

.achievement-item p {
    color: #aaa;
    margin-bottom: 6px;
}

.achievement-item span {
    color: #777;
    font-size: 13px;
}


/* RESUME */

.resume-card {
    max-width: 500px;
    margin: 30px auto 0;
    padding: 30px 25px;

    background: rgba(17, 19, 26, 0.8);
    border: 1px solid #222;
    border-radius: 20px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 30px rgba(0, 229, 255, 0.08);
}

.resume-icon {
    font-size: 55px;
    margin-bottom: 15px;
}

.resume-card h3 {
    color: #00e5ff;
    font-size: 25px;
    margin-bottom: 15px;
}

.resume-card p {
    color: #aaa;
    line-height: 1.7;
    margin-bottom: 25px;
}


/* LIKE */

.like-card {
    max-width: 500px;
    margin: 30px auto 0;
    padding: 30px 25px;

    background: rgba(17, 19, 26, 0.8);
    border: 1px solid #222;
    border-radius: 20px;

    backdrop-filter: blur(10px);

    box-shadow: 0 0 30px rgba(0, 229, 255, 0.08);
}

.like-btn {
    padding: 15px 30px;

    background: transparent;
    color: white;

    border: 2px solid #00e5ff;
    border-radius: 30px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.like-btn:hover {
    background: #00e5ff;
    color: #08090d;
    transform: scale(1.05);
}

.like-card p {
    margin-top: 15px;
    color: #aaa;
    font-size: 15px;
}


/* MOBILE NAVIGATION */

@media (max-width: 600px) {

    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;

        padding: 12px 20px;
        gap: 10px;
    }

    .nav-links {
        width: 100%;
        gap: 18px;

        overflow-x: auto;
        padding-bottom: 5px;

        white-space: nowrap;
    }

    .nav-links a {
        font-size: 14px;
        flex-shrink: 0;
    }

}